#feedback-modal.reveal-modal.small(data-reveal, aria-labelledby, aria-hidden="true" role="dialog")
    h2.feedback-header
        |Обратная связь
    form(action="")
        .row
            .small-12
                .row
                    .small-12.medium-4.columns
                        label
                            |Имя*
                    .small-12.medium-8.columns
                        input(type="text")
                .row
                    .small-12.medium-4.columns
                        label
                            |Фамилия
                    .small-12.medium-8.columns
                        input(type="text").error
                        label.error
                            |Это поле нужно заполнить
                .row
                    .small-12.medium-4.columns
                        label
                            |Email*
                    .small-12.medium-8.columns
                        input(type="text")
                .row
                    .small-12.medium-4.columns
                        label
                            |Сообщение*
                    .small-12.medium-8.columns
                        textarea.error
                        label.error
                            |Это поле нужно заполнить
                .row
                    .small-12.medium-4.columns
                        label
                            |Введите цифры*
                    .small-12.medium-8.columns
                        .row
                            .small-4.columns
                                img(src="images/captcha-img.png")
                            .small-8.columns
                                input(type="text")
        .row.text-center
            button(type="submit").button.send-feedback
                |Отправить
    a.close-reveal-modal(aria-label="Close")
        |&#215;
