footer.row
    .row.nav-footer-holder
        .small-12.medium-12.large-12.columns
            ul.nav-footer
                li
                    a(href="index.html")
                        |О Компании
                li
                    a(href="work.html")
                        |Схема работы
                li
                    a(href="news.html")
                        |Новости
                li
                    a(href="partners.html")
                        |Наши Партнеры
                li
                    a(href="contacts.html")
                        |Контакты
    .row.contact-info-holder
        .small-4.medium-3.large-1.columns
            p.copyright
                |©2015, BMP Media Audit
                |Все права защищены.
        .small-4.medium-3.large-3.columns
            a(href="#")
                |Обратная связь
        .small-4.medium-6.large-6.columns
            dl
                dt
                    |Контактный телефон
                dd
                    |+7 (985) 222–83–64
            dl
                dt
                    |Адрес
                dd
                    |г. Москва, 3-я Сокольническая улица, д.5, офис 27
