nav.row
    .small-12.medium-12.large-12.columns.nav-holder
        a(href="index.html").nav-item.active
            .icon-holder
                img(src="img/icon-case.png", alt="")
            p.nav-item-holder
                |О компании
        |&nbsp;
        a(href="work.html").nav-item
            .icon-holder
                img(src="img/icon-chart.png", alt="")
            p.nav-item-holder
                |Схема работы
        |&nbsp;
        a(href="news.html").nav-item
            .icon-holder
                img(src="img/icon-newspaper.png", alt="")
            p.nav-item-holder
                |Новости
        |&nbsp;
        a(href="partners.html").nav-item
            .icon-holder
                img(src="img/icon-people.png", alt="")
            p.nav-item-holder
                |Наши партнеры
        |&nbsp;
        a(href="contacts.html").nav-item
            .icon-holder
                img(src="img/icon-map.png", alt="")
            p.nav-item-holder
                |Контакты