script(src="bower_components/jquery/dist/jquery.min.js")
script(src="bower_components/foundation/js/foundation.min.js")
script(src="bower_components/foundation/js/foundation/foundation.reveal.js")
script(src="bower_components/slick.js/slick/slick.min.js")
script(src="js/script.js")
