.our-contacts-holder
{
    padding: 0;
    list-style-type: none;
    li
    {
        width: 26rem;
        margin: 0 auto .1rem;
        &::after
        {
            content: '';
            display: block;
            clear: both;
        }
        img
        {
            margin-right: 1rem;
            float: left;
        }
        p
        {
            font-family: "PT_Sans-Web-Regular";
            line-height: 1.4;
            float: left;
            width: 86%;
            margin-top: 0.2rem;
            color: #fff;
            a
            {
                color: #6e98ec;
            }
        }
    }
}
.map.row
{
    position: relative;
}
.map-header
{
    text-transform: uppercase;
    color: #78a4fe;
    h4
    {
        color: #78a4fe;
        margin: 0 0 1rem 0;
    }
}
.row.map-holder
{ 
    margin-bottom: 10rem;
    width: 100%;
    overflow: hidden;
    background: #e8e7e0;
    &::before
    {
        content: "";
        position: absolute;
        z-index: -1;
        -webkit-box-shadow: 0 0 20px rgba(0,0,0,.8);
        display: block;
        width: 70%;
        height: 2px;
        bottom: 164px;
        left: 12.5%;
        border-radius: 100px / 10px;
    }
    div
    {
        padding: 0;
    }
}
@media only screen and (max-width: 375px)
{
    .our-contacts-holder
    {
        margin-top: -1rem;
        margin-left: 0;
        margin-bottom: 3rem;
    }
    .our-contacts-holder li p
    {
        margin-bottom: .9rem;
    } 
    .our-contacts-holder li:last-child p
    {
        text-indent: -7rem;
        overflow: hidden;
    }
}
