.our-contacts-holder
{
    padding: 0;
    list-style-type: none;
    li
    {
        width: 26rem;
        margin: 0 auto 1rem;
        &::after
        {
            content: '';
            display: block;
            clear: both;
        }
        img
        {
            margin-right: 1rem;
            float: left;
        }
        p
        {
            font-family: "PT_Sans-Web-Regular";
            line-height: 1.4;
            float: left;
            width: 86%;
            margin-top: 0.2rem;
            color: #fff;
            a
            {
                color: #6e98ec;
            }
        }
    }
}
.map-header
{
    text-transform: uppercase;
    color: #78a4fe;
    h4
    {
        color: #78a4fe;
        margin: 0 0 1rem 0;
    }
}
.row.map-holder
{ 
    position: relative;
    margin-bottom: 10rem;
    width: 100%;
    overflow: hidden;
    background: #e8e7e0;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.4) 0 0 40px rgba(0,0,0,.1) inset;
    &::before, &::after
    {
        content: "";
        position: absolute;
        z-index: -1;
        -webkit-box-shadow: 0 0 20px rgba(0,0,0,.8);
        top: 50%;
        bottom: 0;
        left: 10px;
        right: 10px;
        border-radius: 100px / 10px;
    }
    &::after
    {
        right: 10px;
        left: auto;
            -webkit-transform: skew(8deg) rotate(3deg);
}
    div
    {
        padding: 0;
    }
}
