@font-face {
    font-family: "PT_Sans-Narrow-Web-Bold";
    src: url(../fonts/PT_Sans-Narrow-Web-Bold.ttf);
}
@font-face {
    font-family: "PT_Sans_Web-Bold";
    src: url(../fonts/PT_Sans_Web-Bold.ttf);
}
@font-face {
    font-family: "PT_Sans-Web-Regular";
    src: url(../fonts/PT_Sans-Web-Regular.ttf);
}
@font-face {
    font-family: "PT_Sans-Web-Italic";
    src: url(../fonts/PT_Sans-Web-Italic.ttf);
}
