header
{
	background: 	url(../images/header-bg.png);
    padding: 0 0 1rem 0;
    .logo-holder
    {
        box-sizing: border-box;
        padding: 1rem 0 0 0;
    }
    .phone-header
    {
        font-family: "PT_Sans-Narrow-Web-Bold";
        padding: 2.5rem 0 0 0;
        font-size: 1.5rem;
        color: #4a7ce0;
        float: left;
        &::before
        {
            content: '';
            display: block;
            margin-right: 1rem;
            float: left;
            width: 3rem;
            height: 3rem;
            background: url(../images/icon-phone.png) no-repeat;
        }
    }
    .logo-holder
    {
        text-align: center;
    }
    .address-holder
    {
        padding: 2.1rem 0 0 2rem;
        color: #4a7ce0;
        line-height: 1;
        p
        {
            line-height: 1.3;
        }
        text-transform: uppercase;
        &::before
        {
            content: '';
            display: block;
            float: left;
            width: 3rem;
            height: 4rem;
            background: url(../images/icon-pinmap.png) no-repeat 0 .4rem;
        }
    }
}
