.news-section
{
    .h1-blue-bg
    {
        margin-bottom: 0;
    }
    .slick-slide
    {
        height: auto;
    }
}
.news-list-holder
{
    margin-bottom: 8rem;
    .news-list-item
    {
        .content-holder
        {
            .date
            {
                background: #cdcdcd; 
                font-family: "PT_Sans-Web-Regular";
                color: #fff;
                font-size: .9rem;
                margin-bottom: .5rem;
                display: inline-block;
                position: relative;
                white-space: nowrap;
                padding: .4375rem 2.25rem .125rem;
                &::before
                {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    border-top: 0 solid transparent;
                    border-left: 1rem solid #e8e7e0;
                    border-bottom: 2rem solid transparent;
                }
                &::after
                {
                    content: '';
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 0;
                    border-top: 2rem solid transparent;
                    border-right: 1rem solid #e8e7e0;
                    border-left: 0 solid transparent;
                }
            }
            .description
            {
                max-height: 6.25rem;
                overflow: hidden;
                display: block;
                color: #1f1f1f;
                text-transform: uppercase;
                font-size: .9rem;
                line-height: 1.5;
                font-family: "PT_Sans-Web-Regular";
                &::after
                {
                    font-weight: bold;
                    color: #78a4fe;
                    font-family: "PT_Sans-Narrow-Web-Bold";                   
                    content: " >";
                    font-size: 1.2rem;
                    position: relative;
                    line-height: 0;
                }
                &:hover::after
                {
                    color: #ec4c74;
                }
            }
        }
    }
    .pagination
    {
        &:last-child
        {
            .pages
            {
                span
                {
                    color: #1f1f1f;
                }
            }
        }
        text-align: center;
        .prev, .next
        {
            color: #78a4fe;
            font-weight: bold;
            display: inline-block;
            font-family: "PT_Sans-Narrow-Web-Bold";
            &:hover
            {
                color: #ec3a67;
            }
        }
        .pages
        {
            display: inline-block;
            color: #78a4fe;
            font-family: "PT_Sans-Web-Regular";
            span
            {
                color: #fff;
            }
        }
    }
}
@media only screen and (min-width: 44.063rem)
{
    .news-list-holder
    {
        .news-list
        {
            .news-list-item-holder
            {
                &:nth-child(3),&:nth-child(4)
                {
                    padding-top: 2rem;
                    padding-bottom: 2rem;
                    margin-bottom: 2rem;
                }
                &:first-child,&:nth-child(2)
                {
                    padding-top: 2rem;
                    padding-bottom: 2rem;
                    margin-bottom: 2rem;
                    .news-list-item
                    {
                        padding-bottom: 0;
                        .image-holder
                        {
                            padding-bottom: 0;
                        }
                        .content-holder
                        {
                            padding-bottom: 0;
                            .date
                            {
                                background: transparent
                                    url(../images/parallelogram-date.png)
                                    no-repeat;
                                &::before, &::after
                                {
                                    border: 0;
                                }
                            }
                            .description
                            {
                            }
                        }
                    }
                }
                &:first-child
                {
                    border-right: 0;
                }
                &:nth-child(2)
                {
                    border-left: 0;
                }
            }
        }
    }
}
@media only screen and (max-width: 375px)
{
    .news-list-holder
    {
        .news-list
        {
            .news-list-item-holder
            {
                &:nth-child(3),&:nth-child(4)
                {
                    padding-top: 2rem;
                    padding-bottom: 2rem;
                    margin-bottom: 2rem;
                }
                &:first-child,&:nth-child(2)
                {
                    padding-top: 2rem;
                    padding-bottom: 2rem;
                    margin-bottom: 2rem;
                    .news-list-item
                    {
                        padding-bottom: 0;
                        .image-holder
                        {
                            padding-bottom: 0;
                        }
                        .content-holder
                        {
                            padding-bottom: 0;
                            .date
                            {
                                background: transparent
                                    url(../images/parallelogram-date.png)
                                    no-repeat;
                                &::before, &::after
                                {
                                    border: 0;
                                }
                            }
                            .description
                            {
                            }
                        }
                    }
                }
                &:first-child
                {
                    border-right: 0;
                }
                &:nth-child(2)
                {
                    border-left: 0;
                }
            }
        }
    }
}
@media only screen and (min-width: 94.063rem)
{
    .news-list-holder
    {
        .news-list
        {
            .news-list-item-holder
            {
                &:first-child,&:nth-child(2)
                {
                    padding-top: 2rem;
                    padding-bottom: 2rem;
                    margin-bottom: 2rem;
                    .news-list-item
                    {
                        padding-bottom: 0;
                        .image-holder
                        {
                            padding-bottom: 0;
                        }
                        .content-holder
                        {
                            padding-bottom: 0;
                            .date
                            {
                                background: transparent
                                    url(../images/parallelogram-date.png)
                                    no-repeat;
                                &::before, &::after
                                {
                                    border: 0;
                                }
                            }
                            .description
                            {
                                color: #fff;
                            }
                        }
                    }
                }
                &:first-child
                {
                    border-right: 0;
                }
                &:nth-child(2)
                {
                    border-left: 0;
                }
            }
        }
    }
}
@media only screen and (max-width: 90.063rem)
{
    .news-list-holder
    {
        .pagination
        {
            &:first-child
            {
                .pages
                {
                    span
                    {
                        color: #1f1f1f;
                    }
                }
            }
        }
    }
}
//@media only screen and (min-width: 122.063rem)
//{
//    .news-list-holder
//   {
//        .news-list
//        {
//            .news-list-item-holder
//            {
//                &:first-child,&:nth-child(2),&:nth-child(3),&:nth-child(4)
//                {
//                    .news-list-item
//                    {
//                        .content-holder
//                        {
//                            .date
//                            {
//                                background: transparent
//                                    url(../images/parallelogram-date.png)
//                                    no-repeat;
//                                &::before, &::after
//                                {
//                                    border: 0;
//                                }
//                            }
//                            .description
//                            {
//                                color: #fff;
//                         r  }
//                        }
//                    }
//                }
//            }
//        }
//    }
//}
.newspage-holder
{
    .newspage-carousel
    {
        margin: 0 auto 5rem;
        .slick-prev
        {
            text-indent: -9999rem;
            background: url(../images/prev-btn.png) no-repeat;
            position: absolute;
            left: -4rem;
            padding: 0;
            top: 45%;
            height: 3.75rem;
            width: 1.75rem;
            &:hover
            {
                background: url(../images/prev-btn-hover.png) no-repeat;
            }
        }
        .slick-next
        {
            text-indent: -9999rem;
            position: absolute;
            right: -4rem;
            top: 45%;
            height: 3.75rem;
            padding: 0;
            width: 1.75rem;
            background: url(../images/next-btn.png) no-repeat;
            &:hover
            {
                background: url(../images/next-btn-hover.png) no-repeat;
            }
        }
        .slick-slide img
        {
            width: 100%;
        }
    }
    .news-page-header
    {
        font-family: "PT_Sans-Web-Regular";
        line-height: 1.1;
        margin-bottom: 2rem;
        color: #1f1f1f;
        font-size: 1.375rem;
        padding: 0 1rem 0 1rem;
    }
    .news-page-content
    {
        color: #82827d;
        font-family: "PT_Sans-Web-Regular";
        margin-bottom: 4rem;
        padding: 0 1rem 0 1rem;
    }
    .news-page-date
    {
        background: url(../images/grey-date.png) no-repeat;
        font-family: "PT_Sans-Web-Regular";
        color: #fff;
        font-size: .9rem;
        margin-left: 1rem;
        margin-bottom: 1.5rem;
        display: inline-block;
        position: relative;
        white-space: nowrap;
        padding: .4375rem 1.25rem .325rem;
    }
}
