.partners-section
{
    .parallelogram-blue.long
    {
        width: auto;
        background: url(../images/parallelogram-blue-long.png) no-repeat;
        margin-bottom: 0;
        font-family: "PT_Sans-Narrow-Web-Bold";
        span
        {
            color: #78a4fe;
        }
    }
}
.fancy-points-holder.blue
{
    .fancy-point
    {
        color: #6d97ea;
    }
}
.partners-holder
{
    margin: 0;
    margin-bottom: 13rem;
    list-style-type: none;
    .partners-logo
    {
        padding: .3rem 0 0 0;
        img
        {
            vertical-align: top;
        }
    }
    .partner
    {
        .partner-desc
        {
            //color: #95b8ff;
            color: #1f1f1f;
            margin: 0 0 1.3rem 0;
            font-size: .875rem;
            line-height: 1.5;
            font-family: "PT_Sans-Web-Italic";
        }
        .partner-link
        {
            //color: #fff;
            color: #78a4fe;
            text-decoration: underline;
            &:hover
            {
                text-decoration: none;
            }
        }
    }
}
@media only screen and (max-width: 375px)
{
    .partners-section p.parallelogram-blue.long
    {
        background-image: none;
        background-color: #305085;

    }
    .partners-holder .partner .partner-desc
    {
        margin-top: 1rem;
        color: #1f1f1f;
    }
    .partners-holder .partner .partner-link
    {
        color: #78a4fe;
    }
}
