.scheme-holder
{
    counter-reset: list;
}
.mark
{
    .mark-img
    {
        width: 25%;
    }
    .mark-description
    {
        width: 75%;
        padding-left: 2rem;
        position: relative;
        &::before
        {
            position: absolute;
            left: -.5rem;
            top: -.5rem;
            content: counter(list)".";
            font-weight: bold;
            color: #ec3a67;
            font-size: 2.5rem;
            counter-increment: list
        }
    }
    &:last-child
    {
        width: 100%;
        .mark-img
        {
            width: 12.5%;
        }
    }
    .mark-header
    {
        color: #78a4fe;
        text-transform: uppercase;
        font-family: "PT_Sans-Web-Regular";
    }
    p
    {
        color: #1f1f1f;
        font-family: "PT_Sans-Web-Italic";
    }
}

