doctype html
html
    include ./modules/head
    body
        include ./modules/header
        include ./modules/nav
        include ./modules/breadcrumbs
        section.row
            .small-12.medium-4-centered.large-4-centered.columns
                h1.h1-blue-bg
                    |НАШИ КОНТАКТЫ
                ul.our-contacts-holder
                    li
                        img(src="images/icon-red-phone.png")
                        p
                            |+7 (985) 222-83-64
                    li
                        img(src="images/icon-red-address.png")
                        p
                            |Москва, Ленинский проспект, 32а
                    li
                        img(src="images/icon-red-email.png")
                        p
                            |Обратная связь 
                            a(href="mailto:akuzmin@bestmediapractises.com")
                                |akuzmin@bestmediapractises.com
        section.map.row
            .map-header.row
                .small-12.medium-4-centered.large-4-centered.columns
                    h4
                        |Карта проезда
            .map-holder.row
                .small-12.medium-4-centered.large-4-centered.columns
                    img(src="images/map.png")
        include ./modules/footer
        include ./modules/scripts
