doctype html
html
    include ./modules/head
    body
        include ./modules/header
        .blue-bg
            include ./modules/nav
            include ./modules/breadcrumbs
            section.row
                .small-12.medium-4-centered.large-4-centered.columns
                    h1.h1-blue-bg
                        |ПОЧЕМУ НУЖЕН АУДИТ?
                    p.parallelogram-blue
                        |BMP Media Audit не продаёт рекламу. BMP Media Audit помогает
                        |клиенту покупать рекламу на наилучших условиях, пользуясь
                        |знаниями и опытом медиа аудитора.
                        span.blue
                            |Наша гарантия клиенту —
                            |отсутствие заинтересованности.
                    img(src="img/scheme-1.png").scheme-1
        section.row.advantages-section
            .small-12.medium-4-centered.large-4-centered.columns.advantages-holder
                .row.advantages-header
                    h1.h1-white-bg
                        |НАШИ ПРЕИМУЩЕСТВА
                    ul.fancy-points-holder
                        li.fancy-point
                            |.
                        li.fancy-point
                            |.
                        li.fancy-point
                            |.
                        li.fancy-point
                            |.
                        li.fancy-point
                            |.
                        li.fancy-point
                            |.
                        li.fancy-point
                            |.
                .row.advantage
                    h2.h2-advantages
                        span
                            |1. 
                        |«Не агентское агентство»
                    p.parallelogram-grey
                        |Единственный медиа аудитор в России, команда которого имеет
                        |многолетний практический опыт работы в маркетинге на стороне
                        |рекламодателя Мы понимаем ваши задачи. Мы ориентированы на
                        |результат. 
                    ul.fancy-points-holder
                        li.fancy-point
                            |.
                        li.fancy-point
                            |.
                        li.fancy-point
                            |.
                        li.fancy-point
                            |.
                .row.advantage
                    h2.h2-advantages
                        span
                            |2. 
                        |Уникальная команда
                    p.parallelogram-grey
                        |Мы можем говорить на одном языке с финансовыми директорами,
                        |генеральными директорами и собственниками бизнеса
                    ul.fancy-points-holder
                        li.fancy-point
                            |.
                        li.fancy-point
                            |.
                        li.fancy-point
                            |.
                        li.fancy-point
                            |.  
                .row.advantage
                    h2.h2-advantages
                        span
                            |3. 
                        |Эксперты рынка
                    p.parallelogram-grey
                        |Мы привлекаем к анализу не только опытную собственную
                        |команду, но и внештатных экспертов рекламного рынка: текущих
                        |сотрудников крупнейших медиаселлеров и владельцев СМИ.
                    ul.fancy-points-holder
                        li.fancy-point
                            |.
                        li.fancy-point
                            |.
                        li.fancy-point
                            |.
                        li.fancy-point
                            |.
                .row.advantage
                    h2.h2-advantages
                        span
                            |4. 
                        |Уникальные технологии анализа
                    p.parallelogram-grey
                        |Комплексная и честная оценка работы, стоимости и
                        |возможностей вашего рекламного агентства на основе
                        |специально разработанных и подтвердивших свою эффективность
                        |технологий.
                    ul.fancy-points-holder
                        li.fancy-point
                            |.
                        li.fancy-point
                            |.
                        li.fancy-point
                            |.
                        li.fancy-point
                            |.
                .row.advantage
                    h2.h2-advantages
                        span
                            |5. 
                        |Полная интеграция и прозрачность
                    p.parallelogram-grey
                        |Вначале мы погружаемся в специфику вашего бизнеса и только
                        |потом проводим оценку. Мы отталкиваемся от анализа ситуации,
                        |целей и задач клиента и особенностей в которых
                        |протекает/протекала работа анализируемого периода и выдаем
                        |результат в наглядном и доступном виде
                    ul.fancy-points-holder
                        li.fancy-point
                            |.
                        li.fancy-point
                            |.
                        li.fancy-point
                            |.
                        li.fancy-point
                            |.     
                .row.advantage
                    h2.h2-advantages
                        span
                            |6. 
                        |Сильные партнеры
                    p.parallelogram-grey
                        |BMP Media Audit — российская компания, представляющая
                        |крупнейшим западным аудиторам экспертизу по российскому
                        |рынку рекламы.
                .row.advantage
                    h3.h3-index
                        |Диверсифицированный пул клиентов во всех ключевых
                        |категориях:
                    img(src="img/scheme-2.png").scheme-2
        section.row.technology-section
            h1.h1-white-bg
                |Наши уникальные технологии
            ul.technologies-holder
                li.row.technology
                    .small-12.medium-4.large-3.columns.text-center
                        .technology-inner-holder
                            img(src="img/icon-red-pool.png").left.technology-img
                            h4.left.technology-name
                                |POOL-TIDE &trade;
                    .small-12.medium-8.large-9.columns
                        p.parallelogram-lightblue
                            |Специально разработанная и доказавшая свою
                            |эффективность технология очистки параметров сделок
                            |клиентов из пула, обеспечивающих базу для проведения
                            |объективной оценки.
                li.row.technology
                    .small-12.medium-4.large-3.columns.text-center
                        .technology-inner-holder
                            img(src="img/icon-red-bynocle.png").left.technology-img
                            h4.left.technology-name
                                |DEEP-VIEW &trade;
                    .small-12.medium-8.large-9.columns
                        p.parallelogram-lightblue
                            |Сформированная и организованная база дополнительных
                            |параметров, оказывающих дополнительное влияние на
                            |условия сделки, по которым проверяются условия
                            |каждого, обратившегося к нам клиента.
                li.row.technology
                    .small-12.medium-4.large-3.columns.text-center
                        .technology-inner-holder
                            img(src="img/icon-red-loupe.png").left.technology-img
                            h4.left.technology-name
                                |T-R-A-C-E-R &trade;
                    .small-12.medium-8.large-9.columns
                        p.parallelogram-lightblue
                            |Сформированный и отточенный алгоритм сопровождения
                            |сделок клиента от этапа подготовки к тендеру до
                            |итогового отчета по результатам фактического
                            |размещения.
        include ./modules/footer
        include ./modules/scripts
