doctype html
html
    include ./modules/head
    body
        include ./modules/header
        include ./modules/nav
        include ./modules/breadcrumbs
        section.row.news-section
            .small-12.medium-12.large-12.columns
                h1.h1-blue-bg
                    |НАШИ НОВОСТИ
        section.row.news-section
            .small-12.small-centered.medium-8.medium-centered.large-8.large-centered.columns
                ul.fancy-points-holder.blue
                    li.fancy-point
                        |.
                    li.fancy-point
                        |.
                    li.fancy-point
                        |.
                    li.fancy-point
                        |.
                    li.fancy-point
                        |.
                    li.fancy-point
                        |.
                    li.fancy-point
                        |.
                .newspage-holder
                    ul.newspage-carousel
                        li
                            img(src="images/news-page.png")
                        li
                            img(src="images/news-page.png")
                        li
                            img(src="images/news-page.png")
                    article.row
                        time.news-page-date
                            |18 03 2015
                        h2.news-page-header
                            |С марта BMP media audit является аффилированным
                            |партнером международного аудиторского агентства
                            |AuditStar в России..
                        section.news-page-content
                            p
                                |Равным образом реализация намеченных плановых
                                |заданий требуют от нас анализа модели развития.
                                |Задача организации, в особенности же укрепление
                                |и развитие структуры представляет собой
                                |интересный эксперимент проверки системы
                                |обучения кадров, соответствует насущным
                                |потребностям. Товарищи! дальнейшее развитие
                                |различных форм деятельности требуют от нас
                                |анализа модели развития. Не следует, однако
                                |забывать, что укрепление и развитие структуры
                                |влечет за собой процесс внедрения и
                                |модернизации новых предложений.
                            p
                                |Разнообразный и богатый опыт постоянный
                                |количественный рост и сфера нашей активности
                                |требуют от нас анализа дальнейших направлений
                                |развития. Разнообразный и богатый опыт
                                |укрепление и развитие структуры способствует
                                |подготовки и реализации существенных финансовых
                                |и административных условий.
                a(href="newslist.html").button.back-to-list
                    |Вернуться к списку
        include ./modules/footer
        include ./modules/scripts
