doctype html
html
    include ./modules/head
    body
        include ./modules/header
        include ./modules/nav
        include ./modules/breadcrumbs
        section.row.news-section
            .small-12.medium-4-centered.large-4-centered.columns
                h1.h1-blue-bg
                    |НАШИ НОВОСТИ
        section.row.news-section
            .small-12.medium-4-centered.large-4-centered.columns
                ul.fancy-points-holder.blue
                    li.fancy-point
                        |.
                    li.fancy-point
                        |.
                    li.fancy-point
                        |.
                    li.fancy-point
                        |.
                    li.fancy-point
                        |.
                    li.fancy-point
                        |.
                    li.fancy-point
                        |.
                    li.fancy-point
                        |.
                    li.fancy-point
                        |.
                    li.fancy-point
                        |.
                    li.fancy-point
                        |.
                    li.fancy-point
                        |.
                    li.fancy-point
                        |.
                    li.fancy-point
                        |.
                    li.fancy-point
                        |.
                    li.fancy-point
                        |.
                .news-list-holder
                    .pagination
                        a(href="#").prev
                            |<
                        |&nbsp;
                        p.pages
                            span
                                |1&nbsp;
                            |/&nbsp;8
                        |&nbsp;
                        a(href="#").next
                            |>
                    ul.news-list.small-block-grid-1.medium-block-grid-2.large-block-grid-2
                        li.news-list-item-holder
                            ul.news-list-item.small-block-grid-2.medium-block-grid-2.large-block-grid-2
                               li.image-holder
                                    a(href="news.html")
                                        img(src="images/news-thumb.png")
                               li.content-holder 
                                    time.date
                                        |18 03 2015
                                    a.description(href="news.html")
                                        |С марта BMP media audit является
                                        |аффилированным партнером международного
                                        |аудиторского агентства AuditStar в России..
                        li.news-list-item-holder
                            ul.news-list-item.small-block-grid-2.medium-block-grid-2.large-block-grid-2
                               li.image-holder
                                    a(href="news.html")
                                        img(src="images/news-thumb.png")
                               li.content-holder 
                                    time.date
                                        |18 03 2015
                                    a.description(href="news.html")
                                        |С марта BMP media audit является
                                        |аффилированным партнером международного
                                        |аудиторского агентства AuditStar в России..
                        li.news-list-item-holder
                            ul.news-list-item.small-block-grid-2.medium-block-grid-2.large-block-grid-2
                               li.image-holder
                                    a(href="news.html")
                                        img(src="images/news-thumb.png")
                               li.content-holder 
                                    time.date
                                        |18 03 2015
                                    a.description(href="news.html")
                                        |С марта BMP media audit является
                                        |аффилированным партнером международного
                                        |аудиторского агентства AuditStar в России..
                        li.news-list-item-holder
                            ul.news-list-item.small-block-grid-2.medium-block-grid-2.large-block-grid-2
                               li.image-holder
                                    a(href="news.html")
                                        img(src="images/news-thumb.png")
                               li.content-holder 
                                    time.date
                                        |18 03 2015
                                    a.description(href="news.html")
                                        |С марта BMP media audit является
                                        |аффилированным партнером международного
                                        |аудиторского агентства AuditStar в России..
                        li.news-list-item-holder
                            ul.news-list-item.small-block-grid-2.medium-block-grid-2.large-block-grid-2
                               li.image-holder
                                    a(href="news.html")
                                        img(src="images/news-thumb.png")
                               li.content-holder 
                                    time.date
                                        |18 03 2015
                                    a.description(href="news.html")
                                        |С марта BMP media audit является
                                        |аффилированным партнером международного
                                        |аудиторского агентства AuditStar в России..
                        li.news-list-item-holder
                            ul.news-list-item.small-block-grid-2.medium-block-grid-2.large-block-grid-2
                               li.image-holder
                                    a(href="news.html")
                                        img(src="images/news-thumb.png")
                               li.content-holder 
                                    time.date
                                        |18 03 2015
                                    a.description(href="news.html")
                                        |С марта BMP media audit является
                                        |аффилированным партнером международного
                                        |аудиторского агентства AuditStar в России..
                        li.news-list-item-holder
                            ul.news-list-item.small-block-grid-2.medium-block-grid-2.large-block-grid-2
                               li.image-holder
                                    a(href="news.html")
                                        img(src="images/news-thumb.png")
                               li.content-holder 
                                    time.date
                                        |18 03 2015
                                    a.description(href="news.html")
                                        |С марта BMP media audit является
                                        |аффилированным партнером международного
                                        |аудиторского агентства AuditStar в России..
                        li.news-list-item-holder
                            ul.news-list-item.small-block-grid-2.medium-block-grid-2.large-block-grid-2
                               li.image-holder
                                    a(href="news.html")
                                        img(src="images/news-thumb.png")
                               li.content-holder 
                                    time.date
                                        |18 03 2015
                                    a.description(href="news.html")
                                        |С марта BMP media audit является
                                        |аффилированным партнером международного
                                        |аудиторского агентства AuditStar в России..
                    .pagination
                        a(href="#").prev
                            |<
                        |&nbsp;
                        p.pages
                            span
                                |1&nbsp;
                            |/&nbsp;8
                        |&nbsp;
                        a(href="#").next
                            |> 
        include ./modules/footer
