doctype html
html
    include ./modules/head
    body
        include ./modules/header
        include ./modules/nav
        include ./modules/breadcrumbs
        section.row.partners-section
            .small-12.medium-4-centered.large-4-centered.columns
                h1.h1-blue-bg
                    |НАШИ ПАРТНЕРЫ
                p.parallelogram-blue.long
                    span
                        |BMP Media Audit
                    | — российская компания, представляющая
                    |крупнейшим западным аудиторам экспертизу по российскому
                    |рынку рекламы. Мы изучаем и заимствуем опыт и технологии
                    |крупнейших международных аудиторских компаний, адаптируя
                    |их для российского рынка рекламы.
        section.row.partners-cection
            .small-12.medium-4-centered.large-4-centered.columns
                ul.fancy-points-holder.blue
                    li.fancy-point
                        |.
                    li.fancy-point
                        |.
                    li.fancy-point
                        |.
                    li.fancy-point
                        |.
                    li.fancy-point
                        |.
                    li.fancy-point
                        |.
                    li.fancy-point
                        |.
               ul.partners-holder 
                    li.row.partner
                        .small-12.medium-6.large-6.columns
                            .partners-logo.clearfix
                                img(src="img/partners.png").right
                        .small-12.medium-6.large-6.columns
                            p.partner-desc
                                |Подрядчик и рекламные агентства продают рекламу
                                |клиентам. Чем больше объём проданной рекламы и
                                |выше цена, тем лучше финансовые показатели
                                |подрядчика и рекламного агентства. Подрядчик и
                                |рекламные агентства продают рекламу
                                |клиентам. Чем больше объём проданной рекламы и
                                |выше цена, тем лучше финансовые показатели. 
                            a.partner-link(href="www.auditstar.co.uk"
                            target="_blank")
                                |www.auditstar.co.uk
        include ./modules/footer
