doctype html
html
    include ./modules/head
    body
        include ./modules/header
        include ./modules/nav
        include ./modules/breadcrumbs
        section.row.partners-section
            .small-12.medium-4-centered.large-4-centered.columns
                h1.h1-blue-bg
                    |СХЕМА РАБОТЫ
                p.parallelogram-blue
                    |BMP Media Audit оказывает своим Клиентам всестороннюю
                    |поддержку на протяжении всего периода обслуживания
        section.row.scheme-section
            .small-12.medium-4-centered.large-4-centered.columns
               ul.scheme-holder.small-block-grid-1.medium-block-grid-2.large-block-grid-2
                    li.mark
                        ul.small-block-grid-1.medium-block-grid-2.large-block-grid-2
                            li.mark-img
                                img(src="images/icon-blue-target.png")
                            li.mark-description
                                h3.mark-header
                                    |Определение целей
                                p
                                    |Клиент вместе с BMP Media Audit
                                    |согласовывает цели кампании
                    li.mark
                        ul.small-block-grid-1.medium-block-grid-2.large-block-grid-2
                            li.mark-img
                                img(src="images/icon-blue-scroll.png")
                            li.mark-description
                                h3.mark-header
                                    |Бриф
                                p
                                    |BMP Media Audit разрабатывает бриф 
                                    |и KPI для рекламных агентств
                    li.mark
                        ul.small-block-grid-1.medium-block-grid-2.large-block-grid-2
                            li.mark-img
                                img(src="images/icon-blue-medal.png")
                            li.mark-description
                                h3.mark-header
                                    |Тендер
                                p
                                    |Клиент проводит тендер среди 
                                    |выбранных агентств
                    li.mark
                        ul.small-block-grid-1.medium-block-grid-2.large-block-grid-2
                            li.mark-img
                                img(src="images/icon-blue-wtf.png")
                            li.mark-description
                                h3.mark-header
                                    |Оценка
                                p
                                    |BMP Media Audit оценивает тендерные 
                                    ||предложения и участвует в переговорах 
                                    |с РА
                    li.mark
                        ul.small-block-grid-1.medium-block-grid-2.large-block-grid-2
                            li.mark-img
                                img(src="images/icon-blue-loupe.png")
                            li.mark-description
                                h3.mark-header
                                    |Контроль
                                p
                                    |BMP Media Audit отслеживает текущее
                                    |размещение на предмет соответствия тендерным
                                    |условиям и информирует клиента об
                                    |отклонениях, в случае их выявления. 
           include ./modules/footer
